    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bigge!</title>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <script src="{{url_for('static', filename='js/hammer.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/inobounce.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Bigge!">
    <meta name="apple-mobile-web-app-title" content="Bigge!">
    <meta name="theme-color" content="#F98F8F">
    <meta name="msapplication-navbutton-color" content="#F98F8F">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">

    <link rel="icon" type="png" sizes="512x512" href="{{url_for('static', filename='images/icons/icon.png')}}">
    <link rel="apple-touch-icon" type="png" sizes="512x512" href="{{url_for('static', filename='images/icons/icon.png')}}">

    <link href="{{url_for('static', filename='images/splashscreens/iphone5.png')}}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{url_for('static', filename='images/splashscreens/iphone6.png')}}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{url_for('static', filename='images/splashscreens/iphoneplus.png')}}" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{{url_for('static', filename='images/splashscreens/iphonex.png')}}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{{url_for('static', filename='images/splashscreens/iphonexr.png')}}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{url_for('static', filename='images/splashscreens/iphonexsmax.png')}}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{{url_for('static', filename='images/splashscreens/ipad.png')}}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{url_for('static', filename='images/splashscreens/ipadpro1.png')}}" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{url_for('static', filename='images/splashscreens/ipadpro3.png')}}" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{url_for('static', filename='images/splashscreens/ipadpro2.png')}}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
</head>
<body class="red">
</body>
</html>