<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bigge!</title>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <script src="{{url_for('static', filename='js/inobounce.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Bigge!">
    <meta name="apple-mobile-web-app-title" content="Bigge!">
    <meta name="theme-color" content="#F98F8F">
    <meta name="msapplication-navbutton-color" content="#F98F8F">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="png" sizes="512x512" href="{{url_for('static', filename='images/icons/icon.png')}}">
    <link rel="apple-touch-icon" type="png" sizes="512x512" href="{{url_for('static', filename='images/icons/icon.png')}}">
</head>
<body class="red">
    <div id="card-container"><div id="card-icon" class="big"></div><div id="card-data"></div></div>
    <div id="next-card" onclick="getCard()"><p>Volgende kaart!</p></div>
</body>
</html>
